[submodule "fonts/powerline"]
	path = fonts/powerline
	url = https://github.com/powerline/fonts.git
[submodule "fonts/nerd-fonts"]
	path = fonts/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
